body {
    background-color: rgb(214, 214, 214);    
}

.barra_gris{
    display: flex;
    justify-content:space-evenly; 
    align-items:center; 
    height: 80px;
    width: 100% ;
    background-color: rgb(99, 99, 99);
    font-size: larger;
}
.contenedor_naranja{
    display: flex;
    justify-content:flex-start;
    padding-left: 30px;
}
.bloque_naranja{
    display: flex;
    height: 40px;
    width: 200px;
    padding-left: 10px;
    background-color: rgb(226, 145, 39);
}
    
.contenedor_rayitas{
    display: flex;
    gap: 20px;
    justify-content:space-between;
    padding-left: 30px;
}
.rayita1{
    display: flex;
    height: 15px;
    width: 125px;
    padding: 1px;
    background-color: rgb(255, 255, 255);
}

.rayita2{
    display:flex;
    height: 15px;
    width: 125px;
    padding: 1px;
    background-color: rgb(255, 255, 255);
}
.rayita3{
    display:flex;
    height: 15px;
    width: 50px;
    padding: 1px;
    background-color: rgb(226, 145, 39);
}
.barra_busqueda{
    display: flex;
    justify-content:space-evenly; 
    align-items:center; 
    height: 60px;
    width: 100% ;
    background-color: rgb(156, 156, 156);
    font-size: larger;
}
.rayitas_busqueda{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content:space-between;
    padding-left: 30px;
}
.rayita_busqueda1{
    height: 10px;
    width: 120px;
    background-color: rgb(53, 53, 53);
}
.rayita_busqueda2{
    height: 60px;
    width: 120px;
    background-color: rgb(53, 53, 53);
}
.rayita_busqueda3{
    height: 10px;
    width: 120px;
    background-color: rgb(53, 53, 53);
}
.rayita_busqueda4{
    height: 10px;
    width: 120px;
    background-color: rgb(53, 53, 53);
}
.rayita_busqueda5{
    height: 10px;
    width: 120px;
    background-color: rgb(53, 53, 53);
}
.espacio_vacio_busqueda{
    height: 1px;
    width: 170px;
}
.barra_clarita{
    height: 60px;
    width: 100% ;
    background-color: rgb(194, 194, 194);
    font-size: larger;
}
.middle{
    display: flex;
}
.contenedor_claro{
    display: flex;
    height: 300px;
    width: 100% ;
    background-color: rgb(224, 224, 224);
}
.contenedor_rectangulo_oscuro{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.rectangulo_oscuro{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 12px;
    height: 150px;
    width: 200px;
    background-color: rgb(85, 85, 85);
}
.rayita_naranja_rectangulo{
    margin-top: 40px;
    height: 20px;
    width: 120px;
    background-color: rgb(248, 161, 0);
}
.rayita_rectangulo1{
    height: 5px;
    width: 120px;
    background-color: rgb(255, 255, 255);
}
.rayita_rectangulo2{
    height: 5px;
    width: 120px;
    background-color: rgb(255, 255, 255);
}
.rayita_rectangulo3{
    margin-right: 60px;
    height: 5px;
    width: 60px;
    background-color: rgb(255, 255, 255);
}
